[alias]
  co = checkout
  ci = commit
  st = status
  br = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(align:120,left)%(color:"#F1FA8C")%(refname:short)%(color:reset)%(end)%(align:15,left)%(color:"#BD93F9")%(objectname:short)%(color:reset)%(end) %(align:85,left)%(contents:subject)%(end)%(align:38,left)%(color:"#F1FA8C")[%(authorname)]%(color:reset)%(end) %(align:15,left)%(color:"#FF79C6")%(committerdate:relative)%(color:reset)%(end)'
  hist = log --graph --pretty=format:'%C("#6272A4")%h%C(auto) %C("#BD93F9")%ad%C(auto) %C("#F1FA8C")%<(18)%an%C(auto)%<(50,trunc)%s%d' --date=format:'%m/%d/%y'
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  logg = log --oneline --format=\"%h %an %s\" --stat
  today = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
  undo = reset --hard
  br = branch
  up = pull
  graph = log --graph --oneline --all
  ru = remote update
  ra = remote add
  stage = add
  p = push
  s = status
  cor = checkout --theirs --
  ch = checkout
[http]
  postBuffer = 52428800
[core]
  autocrlf = input
  safecrlf = false
  editor = "nvim"
  excludesfile = "~/.gitignore"
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[push]
  default = current
